body {
  background-color: white;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  margin: 1% 15%;
  max-width: 90%;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

/* Ensure headers and other elements also use the Ubuntu font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

img {
  border-radius: 50%;
  border: 1px solid transparent; /* Transparent border to show the gradient */
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-clip: border-box;
  padding: 1px; /* Padding to create space for the gradient */
}
