body {
background-color: white;
color: black;
  background-color: white;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  margin: 1% 15%;
  max-width: 90%;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  background-color: #333; /* Dark footer */
  color: white;
  padding: 0px;
  text-align: center;
  border-radius: 0px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

img {
  max-width: 90%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid #222;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f0f0f0; /* Light gray shade */
}
